<!DOCTYPE html>
<html lang="en">

<%- include("common/header") %>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-2 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>배너 광고</h1>
        <h2>세상에 이런곳은 없었다 이것은 적금인가 대출인가 EggMoney</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <form id="iframe" action="/" method="post">
            <input type="hidden" name="src" value="/img/crown.jpeg"/>
            <a onclick="document.getElementById('iframe').submit();" class="btn-get-started scrollto">Get Started</a>
          </form>
          <a href="/watchVideo?url=https://www.youtube.com" class="btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <%- include("common/ad")%>
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= Cliens Section ======= -->
  <!-- End Cliens Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>공지사항</h2>
      </div>
      <div class="row content">

        <ul>
          <%
            for(var i=0; i<results.length; i++)
            {
                var data = results[i];
            %>

          <li class = "thing">
            <i class="bx bx-message-detail icon-msg"></i>
            <h4><a href="/notice/getBoard?id=<%=data.id%>"><%=data.title%></a></h4>
          </li>

          <%}%>
          </ul>
        </div>

      </div>
    </section><!-- End About Us Section -->

    

    

  </main><!-- End #main -->



<%- include("common/footer") %>

</html>